@import "tailwindcss" theme(static);

@font-face {
  font-family: "FarhangDot";
  font-style: normal;
  font-weight: 100 900;
  src: url("~/assets/fonts/FarhangVariableDot.woff");
}

:root {
  font-family: FarhangDot;
}
[dir="rtl"] .description {
  @apply text-xl;
}
[dir="rtl"] .logo {
  @apply text-3xl;
}
[dir="rtl"] .navbar span {
  @apply text-lg;
}
