@import "tailwindcss";

/* custom themes  */

@font-face {
  font-family: "FarhangDot";
  font-style: normal;
  font-weight: 100 900;
  src: url("~/assets/fonts/FarhangVariableDot.woff");
}
@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 100 900;
  src: url("~/assets/fonts/Vazirmatn[wght].ttf");
}
:root {
  font-family: Vazirmatn;
}

[dir="rtl"] .logo {
  @apply text-3xl;
  font-family: FarhangDot;
}
[dir="rtl"] .navbar span {
}

.dark .page-header {
  @apply text-gray-300 border-slate-700 bg-slate-600;
}
.dark header {
  @apply bg-slate-800 border-slate-900;
}
.dark {
  --ui-bg: var(--color-slate-700);
}

/* custom themes  */
