@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}

/* Navbar Links */

/* Ordered List Styling with RTL Support */
.rtl,
[dir="rtl"] {
  ol {
    list-style: persian !important;
  }
}

/* Typography */
.prose {
  max-width: none;
  a {
    text-decoration: none;
  }
}

/* Blockquote Styling - Light & Dark Mode */
blockquote {
  text-align: justify;
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 1em 15px;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
  @apply bg-gray-100 dark:bg-gray-800 border-l-gray-400 dark:border-l-gray-600 text-gray-900 dark:text-gray-100;
}
[dir="rtl"] {
  blockquote {
    border-right: 4px solid #ccc;
  }
  blockquote::before {
    margin-left: 0.2em;
  }
}

blockquote::before {
  color: #bbb;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  @apply text-gray-500 dark:text-gray-400;
}

blockquote p {
  display: inline;
}

/* Code Blocks */
code {
  direction: ltr;
}

.prose {
  pre {
    max-width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
  }
}

/* Buttons */
button {
  cursor: pointer;
}
