@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

.navbar a {
}

html {
  scroll-behavior: smooth;
}

/* Ordered List Styling */

/* RTL Support */
.rtl,
[dir="rtl"] {
  ol {
    list-style: persian !important;
  }
}

/* Typography */
.prose {
  max-width: none;
  a {
    text-decoration: none;
  }
}

blockquote {
  text-align: justify;
  background: #f9f9f9;
  border-right: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* Code Blocks */
code {
  direction: ltr;
}

.prose {
  pre {
    max-width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
  }
}

/* Buttons */
button {
  cursor: pointer;
}
